<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schools</title>
  </head>
  <body>
    <h1><%= greet %></h1>
    <h1>List of schools from DB</h1>
    <% schoolsInfo.forEach((school)=>{ %>
    <h3><%= school.name +" "+ school.city %></h3>
    <%}) %>
  </body>
</html>
