<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Form</title>
</head>
<body>
  <h1>User Regisration Form</h1>
  <form action="/users" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="Username">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="EmailId">
    <label for="age">Age: </label>
    <input type="text" name="age" id="age" placeholder="age">
    <button type="submit">Submit</button>
  </form>
</body>
</html>