<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User's List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Our Members</h1>
      <a class="tl" href="/users/new">Add User</a>
    </header>
    <hr />
    <ul>
      <% users.forEach((user)=>{ %>
      <li>
        <h3><%= user.name%></h3>
        <div>
          <a class="user-button" href="/users/<%= user.id %>">view Details</a>
        </div>
      </li>
      <% }) %>
    </ul>
  </body>
</html>

<!-- <li>
        <h3>User1</h3>
        <div>
          <a class="user-button" href="">view Details</a>
          <a class="user-button" href="">Update User</a>
          <a class="user-button" href="">Delete User</a>
        </div>
      </li> -->
